@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}


.display-flex {
  display: flex;
}

/* dark 2 */
.text-gray {
  color: #424242;
}

/* dark 3 */
.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
  /* border-style: none; */
  border: 0;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 32px;

}



.navbar,
.banner {
  max-width: 1440px;
  /* height: 700px; */
  margin: 0 auto;
}



/* header styles */


/* navbar related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  /* display: flex; */
  /* text-decoration: none; */
  text-decoration: none;
  font-weight: 500;

}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.brand {
  font-weight: bold;
  font-size: 3rem;

}

/* banner related style  */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-img {
  /* width: 1440px; */
  /* height: 700px; */
  /* margin-top: 3.125rem; */
  /* width: 100%; */
  /* max-width: 1440px; */
  /* display: grid; */
  /* flex-direction: column; */
  width: 100%;
  /* padding: 0 300px; */
  /* width: 100%; */
}

.banner {
  max-width: 1440px;
}

/* main section  */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* team and features related style */
.teams {
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

main>section {
  margin-top: 130px;
}

.our-features {
  max-width: 537px;
  height: 304px;
  padding-left: 130px;
}



#quick-list {
  font-weight: 500;
}

.text-primary {
  color: #FF900E;
}


/* fact card */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 124px;
}

.fact-card {
  /* display: flex; */
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 10px;

}

.fact-description {
  max-width: 540px;
}








/* sponsors */
.sponsors-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsors-image {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

}

.sponsors-image img {
  filter: grayscale(100%);
}



/* feautures section style  */

.features {
  gap: 140px;

}


#features-section-title {
  border-left: 5px solid #FF900E;
  /* gap: 10px; */
  /* padding-right: 5px; */
  /* border-right: 10px; */
  padding-left: 20px;
  margin: ;
}

.features-card {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
}

.features-card .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;

}

.features-img-respons img {
  width: 100%;
}

#experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin: -100px;
  margin-top: -100px;

}


#experience-year {
  font-weight: 700;
  font-size: 4rem;
}


/* footer  */

.footer {
  max-width: 1440px;
  height: 100px;
  background-color: #FFF4E7;
}

.footer-title {
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
  padding: 39px 410px;
}

/* Responsive media query */
@media screen and (max-width: 576px) {

  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
    /* grid-template-columns: repeat(1,1fr); */
  }

  .team-img-container,
  .facts-container,
  .sponsors-image,
  .features {
    grid-template-columns: repeat(1, 1fr);

  }

  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }

  .facts-container {
    justify-items: center;
    gap: 24px;
  }

  .our-features {
    margin-left: 30px;

  }
}

@media screen and (max-width: 576px) and (min-width: 992px) {
  .teams .features {
    flex-direction: column;
  }

  .our-features {
    margin: 50px auto;
  }

  #experience-year {
    font-weight: 700;
    font-size: 4rem;
  }

}